body {
    font-family: Arial, sans-serif;
    background-image: url("web.background.jpeg");
    box-shadow: inset 0 0 9 1500px rgba(33, 209, 62, 0.2);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}
button {
    padding: 10px;
    width: 60%;
    background: #4CAF50;
    color: white;
    border: none;
}
.error {
    color: red;
}

button:hover {
    background: #2f754a
}